@import "../../style/main.scss";

.conteiner-BotaoConfirmaPedido{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    padding: 3.9%;
    border-radius: 20px;
    border: none;
    background: var(--red);
    color: var(--rose-50);
    font-size: .7rem;
    cursor: pointer;
}