@import "../../style/main.scss";

.BotaoFinalizar{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    padding: 3.1%;
    border-radius: 20px;
    border: none;
    background: var(--red);
    color: var(--rose-50);
    font-size: .9rem;
    cursor: pointer;
    margin-top: 5%;
    
}