.inicial-page{
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;
    display: flex;
    padding: 5% 7%;
    justify-content: space-between;
    background: hsl(13, 31%, 94%);

    h1{
        font-weight: bold;
        font-size: 2rem;
    }
}