@import "../style/main.scss";

.inicial-page{
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;
    display: flex;
    padding: 5% 3%;
    justify-content: space-around;
    background: var(--rose-100);
    gap: 10px;

    h1{
        font-weight: bold;
        font-size: 2rem;
    }

    .pratos {
        margin-top: 2%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
        box-sizing: border-box;
        overflow-x: hidden; 
        overflow-y: auto; 
        height: 100%; 
        padding: 2% 0%;
    }

    .overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5); /* fundo semitransparente */
        display: flex;
        justify-content: center;
        align-items: center;
      }
      
      .overlay-content {
        background-color: white;
        padding: 20px;
        border-radius: 8px;
        text-align: center;
      }
}