.container-carrinho {
  background: hsl(20, 50%, 98%);
  padding: 10%;
  border-radius: 10px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: 19rem;
  height: auto;
  gap: 30px;

  h3 {
    color: hsl(14, 86%, 42%);
    font-size: 1rem;
  }

  .infos {
    display: flex;
    flex-direction: column;
    align-items: center;

    img {
      width: 100px;
      height: auto;
    }

    p {
      color: hsl(14, 65%, 9%);
      font-size: .7rem;
    }
  }
}

@media (max-width: 600px) {
  .container-carrinho {
    width: 20rem;

  }
}
