@import "../../style/main.scss";

.container-carrinho {
  background: var(--rose-50);
  padding: 10%;
  border-radius: 10px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: 20rem;
  height: auto;
  gap: 30px;
  

  h3 {
    color: var(--red);
    font-size: 1.5rem;
  }

  .infos {
    display: flex;
    flex-direction: column;
    align-items: center;

    img {
      width: 100px;
      height: auto;
    }

    p {
      color: var(--rose-900);
      font-size: .7rem;
    }
  }
}

.container-carrinho-itens {
  background: var(--rose-50);
  padding: 10%;
  border-radius: 10px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: 20rem;
  height: auto;
  gap: 12px;


  h3 {
    color: var(--red);
    font-size: 1.5rem;
  }

  .infos {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    img {
      width: 100px;
      height: auto;
    }

    p {
      color: var(--rose-900);
      font-size: .7rem;
    }
  }

  .total{
    display: flex;
    justify-content: space-between;
    margin-top: 3%;

    p:nth-child(1) {
      color: var(--rose-300);
      font-size: 0.8rem;
    }

    p:nth-child(2) {
      color: var(--rose-900);
      font-size: 1rem;
      font-weight: bold;
    }
  }
}

@media (max-width: 600px) {
  .container-carrinho {
    width: 20rem;

  }
}
