@import "../../style/main.scss";

.container-ordem{
    display: flex;
    flex-direction: column;
    background: var(--rose-50);
    min-height: 20rem;
    width: 22rem;
    border-radius: 10px;
    position: relative;
    top: 0%;
    right: 0%;
    padding: 0 1.2rem;
    justify-content: space-around;

    .cabecalho{
        display: flex;
        flex-direction: column;
        gap: 10px;

        img{
            width: 30px;
            height: auto;
        }

        h4{
            font-size: 1.5rem;
            font-weight: bold;
            color: var(--rose-900);
        }

        p{
            font-size: .9rem;
            color: var(--rose-500);
        }
    }
}